@keyframes ldio-wgcr4zr7l6 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(16.363636363636363deg) }
  100% { transform: rotate(32.72727272727273deg) }
}
.ldio-wgcr4zr7l6 > div {
  transform-origin: 127px 127px;
  animation: ldio-wgcr4zr7l6 0.2s infinite linear;
}
.ldio-wgcr4zr7l6 > div div {
    position: absolute;
    width: 27.94px;
    height: 162.56px;
    background: #131e3d;
    left: 127px;
    top: 127px;
    transform: translate(-50%,-50%);
}
.ldio-wgcr4zr7l6 > div div:nth-child(1) {
    width: 121.92px;
    height: 121.92px;
    border-radius: 50%;
}
.ldio-wgcr4zr7l6 > div div:nth-child(7.5) {
    width: 96.52px;
    height: 96.52px;
    background: #da0c0c;
    border-radius: 50%;
}.ldio-wgcr4zr7l6 > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(32.72727272727273deg)
}.ldio-wgcr4zr7l6 > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(65.45454545454545deg)
}.ldio-wgcr4zr7l6 > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(98.18181818181819deg)
}.ldio-wgcr4zr7l6 > div div:nth-child(6) {
  transform: translate(-50%,-50%) rotate(130.9090909090909deg)
}
.loadingio-spinner-gear-106r4jdfflpf {
  width: 254px;
  height: 254px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-wgcr4zr7l6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-wgcr4zr7l6 div { box-sizing: content-box; }