.wrapper{
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    border-radius: 5px;
    margin: 2.5rem 5rem 2.5rem 2rem;
    padding: 1.5rem 1.5rem 4rem 1.5rem;
    min-height: 580px;
    .user__title{
        display: inline-block;
    }
    .change__user{
        color: #999999;
        margin-left: 1.5rem;
    }
    ul{
        padding-left: 0;
        display: flex;
        margin-bottom: 1.5rem;
        overflow-x: scroll;
    }
    ul::-webkit-scrollbar{
        display: none;
    }
    ul li{
        color: #023047;
        border-bottom: 2px solid #113D3E;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
    }
    ul li.isactive{
        padding-left: 0;
        border-bottom: 2px solid #FF0000;
    }
    .data__title{
        font-size: 18px;
        font-weight: bold;
        color: #023047;
        margin-bottom: 2rem;
    }
    .inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1rem 0 2rem 0;
    }
    .inputs.tigr{
        display: flex;
        align-items: center;

        .input{
            width: 48% !important;
        }
    }
    .inputs .input{
        width: 30%;
        margin: 1rem 0;
    }
    .input .input__title{
        color: #000;
        margin-bottom: 0.5rem;
    }
    .input input, .input select{
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(137, 137, 137, 0.6);
        box-sizing: border-box;
        color: #000;
        border-radius: 5px;
    }
    .input input::placeholder{
        color: #cccccc;
        font-size: 16px;
    }
    #input{
        width: 30%;
    }
    .add-user{
        background: linear-gradient(92.64deg, #B9D5FD -2.68%, #08235C -2.67%, #377AF9 86.59%, #2267C7 99.79%);
        border-radius: 5px;
        color: #FFF;
        padding: 10px 25px;
        border: 1px solid #377AF9;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .add-user:hover{
        background: #FFF;
        border: 1px solid #08235C;
        color: #08235C;
    }
    .session__title{
        font-size: 18px;
        color: #023047;
        font-weight: bold;
        margin: 3rem 0 1rem 0;
    }
    .session__btn{
        background: linear-gradient(92.64deg, #B9D5FD -2.68%, #08235C -2.67%, #377AF9 86.59%, #2267C7 99.79%);
        border-radius: 5px;
        color: #FFF;
        padding: 10px 25px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border: 1px solid #377AF9;
        transition: 0.3s ease;
    }
    .session__btn:hover{
        background: #FFF;
        border: 1px solid #08235C;
        color: #08235C;
    }
    .check{
        color: #999999;
        font-size: 14px;
        margin-top: 10px;
    }
    table{
        width: 100%;
        border-spacing: 0 20px;
    }
    table tr{
        background: #EAEAEA;
        height: 60px;
    }
    table tr:first-child{
        background: none;
    }
    table tr th{
        text-align: left;
    }
    table tr td, table tr th{
        padding: 0 10px;
        font-size: 15px;
        white-space: nowrap;
        width: 33%;
    }
    table tr td svg{
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 1px solid #FF0000;
        cursor: pointer;
        padding: 3px;
        margin-left: 10px;
    }
    #close__info{
        display: inline-block;
    }
    .save-block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .save{
        background: #131E3D;
        color: #fff;
        width: 260px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
    }
    .save:hover{
        background: #131333;
    }
    @media (max-width: 600px){
        .change__user{
            margin-left: 0;
            display: block;
            font-size: 14px;
        }
        ul li, .data__title, .input .input__title, .input input, .add-user, .session__btn, .session__title, table tr th, table tr td{
            font-size: 14px;
        }
        .table{
            overflow-x: scroll;
        }
        table{
            border-spacing: 0 3px;
        }
        .inputs .input, #input{
            width: 100%;
            margin-bottom: 12px;
        }
    }
}

